.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  height: 60px;
  border-radius: 6px;
  transition: opacity 0.3s;
  border-style: solid;
  border-color: white;
  background: white;
  box-shadow: 5px 5px 10px 2px #333333;
  margin-top: 30px;
  margin-left: 50px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.first-line {
  font-size: 16px;
  color: black;
  padding-left: 60px;
  padding-top: 12px;
  font-style: bold;
}

.second-line {
  font-size: 14px;
  color: gray;
  padding-left: 60px;
  padding-bottom: 8px;
  font-style: bold;
}

.icon-preview {
  width: 42px;
  border-radius: 32px;
  position: absolute;
  margin-top: 10px;
  margin-left: 8px;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
  position: absolute;
}

.profile-picture-container {
  position: relative;
  display: inline-block;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: #606060;
}

.video-author {
  margin-bottom: 4px;
}

@media (min-width: 1000px) {
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1000px) {
  .video-author,
  .video-stats {
    font-size: 14px;
  }
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 2px;
  border-radius: 1px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}